[submodule "lib/lovetoys"]
	path = lib/lovetoys
	url = https://github.com/lovetoys/lovetoys.git
[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/vrld/hump.git
[submodule "lib/moses"]
	path = lib/moses
	url = https://github.com/Yonaba/Moses.git
