[submodule "lib/lovetoys"]
	path = lib/lovetoys
	url = https://github.com/lovetoys/lovetoys.git
[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/vrld/hump.git
[submodule "lib/moses"]
	path = lib/moses
	url = https://github.com/Yonaba/Moses.git
[submodule "lib/hc"]
	path = lib/hc
	url = https://github.com/vrld/HC.git
[submodule "lib/suit"]
	path = lib/suit
	url = https://github.com/vrld/SUIT.git
